


.Search {
	position: absolute;
	top: 50%;
	width: 100vw;

}
 
 .Search-Box {
 	

 }

 .Search-Input {
 	height: 10vh;
    border: none;
    border-bottom: 1px solid blue;
    text-decoration: none;
 	width:  25vw;
    font-size: 24px;
    

 }

  .Search-Input:focus {
    outline: none;
    }